section.hero
  div.container
    article.article
      div.article-preview-img
      div.article-wrapper
        h2.article-title The Bright Future of Web 3.0?
        div.article-descr-wrapper
          p.article-desc
            | We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. 
            | But is it really fulfilling its promise?
          button.article-more-button Read more
    include aside/index