@import 'news-card/index';
@import 'src/styles/mixins';

.news-section {
  padding-block: 50px;
}

.news-cards {
  @include flex(null, null, column);  
  gap: 25px;
}

@media (min-width: 768px) {
  .news-cards {
    flex-direction: row;
    justify-content: space-between;
  }
}